body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
               
             
                 background-image: url("https://wallpapercave.com/wp/wp5104101.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

chatbot-input-container {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    color:white;
}

chatbot-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

chatbot-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color:white;
}

/* Chatbot send button */
#chatbot-send-button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#chatbot-send-button:hover {
    background-color: #0056b3;
}
.bot{
	color:white;
	font-weight:900;
}
.user
{
	color:white;
	font-weight:700;
}

